<a href="https://colab.research.google.com/github/sanjanasreesanjana6-lgtm/data-Visualization-with-python-/blob/main/minor_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.rules followed in python


**1.CASE SENSITIVITY**::mean we should make sure of upper case and lower case letters

**2.INTERPRETED LANGUAGE**::it excutes the code line by line


**3.INDENTATION**::By using the code will be able to know it's belonging

**4.CLARITY IN UNDERSTANDING**::The code which we are writing the pc should be understandable

**5.COLONS**:: use colons to start any block

**6.VARIABLES**:: the variables should be defined before usage

**7.PARENTHESES**::open and closing  of parenthesis should match

**8.DIVISION BY ZERO**::should not use divided by zero(0),if so it throws run time error

**9.INDEXSING AND LENGTH**::the indexing should start from 0 and the length should start from 1

**10.LIBRARIES**::all the necessary libraries should be imported for correct analysis


**11.TENSOR FLOW**::Tensor flow library should be imported for using the image data analysis


**12.STRINGS**:: strings must be coded correctly


**13.SYNTAX STRUCTURE**:: the syntax should be correct

**14.VARIABLES WITH NUMBERS**::variables naming shouldn't start with numbers but can start from the underscore(_)

**15.LIST,DICTIONARY,TUPLE**::should follow there appropriate rules

#2.APPLICATIONS OF PYTHON


**python is widely used in different sectors**::


>>**artifical intelligence and machine learning**

>>**web deveopment**

>>**Data science**

>>**Robotics**

>>**Data analysis**

>>**Game development**

>>**Ethical Hacking**

>>**Software/App development**

>> python is now one of the latest **emerging technologies**.It is actually present in everywhere

# 3. ABOUT DATA TYPES,OPERATORS,MATH FUNCTIONS

# DATA TYPES IN PYTHON
 NUMERIC DATA TYPE:: numeric data is of three types ie; int,float,complex number

 SEQUENCE TYPE:: sequence type is also three types ie; string,list,tuple,range

 MAPPING TYPE:: mapping type is dict(dictionary)

 BOOLEAN TYPE:: bool

 SET TYPE::set type is set,frozenset

In [ ]:
#int is used to represent the integers
age =45;
print(type(age))

<class 'int'>

In [ ]:
a = int(634);
print(a)

634

In [ ]:
#float is used to represent the decimal values
a=float(354)
print(a)

354.0

In [ ]:
#complex number is the combination of the real and the imaginary part
#in the form of a+bj
a=complex(3,4)
b=complex(5)
c=complex()
print(a)
print(b)
print(c)

(3+4j)
(5+0j)
0j

In [ ]:
#string::the sequence of characters present in between the single and the double quotes is called the string
a='string'
b="strings"
print(a)
print(b)

string
strings

In [ ]:
#list::list is mutable (can be modified,replaced,added),list can consists of different data types
a=[1,'list',9.00]
print(a)
print(a[0])

[1, 'list', 9.0]
1

In [ ]:
#tuple::tuple is same as the list but it is immutable(can't be modified),remaining is same
tuple=(23,"list",9.465,562)
print(tuple)

(23, 'list', 9.465, 562)

In [ ]:
#range::range represents the sequence of numbers
#it consists of start,stop,step elements
#start:from which number to start
#stop:where to end
#step:how to move(to jump)
print("Output for range(3):")
for i in range(3): #only start
  print(i)

print("\nOutput for range(3,9):") #start and end
for i in range(3,9):
  print(i)

print("\nOutput for range(1,9,3):") #start,end,step
for i in range (1,9,3):
  print(i)

Output for range(3):
0
1
2

Output for range(3,9):
3
4
5
6
7
8

Output for range(1,9,3):
1
4
7

In [ ]:
#dictionary:dict is the collection of the keys and values
#dictionary can be created by using the dict() constructor
d={1:"create",2:"dictionary",3:"using",4:"python"}
print(d)
d1=dict(a=1,b=2) # Corrected line: using keyword arguments
print(d1)
d2={1:"create",2:"dictionary",3:"using",4:"python"}
print(d2)

{1: 'create', 2: 'dictionary', 3: 'using', 4: 'python'}
{'a': 1, 'b': 2}
{1: 'create', 2: 'dictionary', 3: 'using', 4: 'python'}

In [ ]:
#boolen::boolen is used for the true or flase statements
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
a=36
b=476
c=87
print("boolean or statement")
if a<b or b<c:
  print("true")
else:
  print("false")
print("\nboolean and statement")
if a<b and b<c:
  print("true")
else:
  print("false")
print("\nboolean equivalent statement")
if a==0:
  print("true")
else:
  print("false")

boolean or statement
true

boolean and statement
false

boolean equivalent statement
false

In [ ]:
#set::set is also mutable
#set is constructed by using the curly braces {} or the set() function
#add() method is used to add the elements ,update() method is used to update the set
set={1,2,3}
print(set)
set.add(45)
print(set)
set.update([4,5,6])
print(set)

{1, 2, 3}
{1, 2, 3, 45}
{1, 2, 3, 4, 5, 6, 45}

In [ ]:
#frozen set:: frozen set is immutable
#frozen set is cnstructed using the frozen([])
start=frozenset([1,2,3,4,5,6])
print(start)
print("\nfrom set to the frozenset")
start={1,2,3,4,5,6}
frozen=frozenset(start)
print(frozen)

frozenset({1, 2, 3, 4, 5, 6})

from set to the frozenset
frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
#both the sets and the frozen sets removes the duplicates before printing them
set={1,2,2,3,4,3}
print(set)
print("\n")
frozen=frozenset([1,2,3,4,2,4,3,"str"])
print(frozen)

{1, 2, 3, 4}


frozenset({1, 2, 3, 4, 'str'})

# OPERATORS IN PYTHON
operators in python is used to work with the values and variables

In [ ]:
#arithmetic operator::arithmetic operator is used to perform the basic math operations
#arithmetic operators are +,-,*,%,/,//,**
a=4
b=7
print("addition:",a+b)
print(f"subtraction:{a-b}")
print(f"multiplication:{a*b}")
print(f"division:{a/b}")
print(f"modulus:{a%b}")
print(f"floor division:{a//b}")
print(f"exponent:{a**b}")

addition: 11
subtraction:-3
multiplication:28
division:0.5714285714285714
modulus:4
floor division:0
exponent:16384

In [ ]:
#relational operators::relational operators are used to compare the values
#returns in the form of true or false statement
a=45
b=52
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

True
False
False
True
True
False

In [ ]:
#logical operator::logical opearator is used to combine the conditional statements
a=67
b=56
print(a<b and b<a)
print(a<b or b<a)
print(not(a<b and b<a))#not returns the opposite of the any result

False
True
True

In [ ]:
#bitwise operator:: bitwise operators are used to perform bit-by-bit operations
#bitwise operator works only with the numbers ,it converts the numbers into the bits
a=10
b=4
#bitwise and
print(a&b)#1010 & 0100 =0000=0
#bitwise or
print(a|b)#1010 | 0100 = 1110=14
#bitwise not
print(~a)#1010=00001010 convert this into the 2's complement(1's complement+1) or simply add +1 and assign the -ve symbol
#bitwise xor
print(a^b)#1010+0100=1110=14
#right shift
print(a>>2)#1010 = 0010=2
#leftshift
print(a<<2)#1010=101000=40 or simply multiply with 2 (2 times)

0
14
-11
14
2
40

In [ ]:
#assignment operator::assignment operator is used to assign the values to the varibles
a=39
b=71
print(b)#71
b+=a
print(b)#71+39=110
b-=a
print(b)#110-39=71
b*=a
print(b)#71*39=2769
b<<=a
print(b)#2769*2^39=11076
b>>=a
print(b)#11076=

71
110
71
2769
1522273848655872
2769

In [ ]:
#identity operator::identity operator are used to check if two values are located on the same part of the memory.
#Two variables that are equal do not imply that they are identical.
a=89
v=28
n=v
print(a is v)
print(v is n)
print(a is not v)

False
True
True

In [ ]:
#ternary operator::ternary operator is used to reduce the lines of code
#syntax:: [on-true] if [condition] else [on-false]
s,m=34,81
result=s if s>m else m
print(result)

81

#MATH FUNCTIONS
 math functions are used to perfrom the mathematical operations

 math functions are::

 1.bulit-in functions(no import needed)

 2.math module(needs import)

In [ ]:
#1.bulit-in functions
#absolute value:returns +ve values
a=-47
print(abs(a))
#power(x,y):multiplys x^y
x,y=90,3
print(pow(x,y))
#round:returns the nearest value
s=98.702
print(round(s))
#aggregate functions
#minimum:returns minimum value
c=(2,9,4,6)
print(min(c))
#maximum:returns maximum value
print(max(c))
#sum:returns the sum of the values
print(sum(c))

47
729000
99
2
9
21

In [ ]:
#2.math module
import math
#math.sqrt:returns the square root of the number
f=625
print(math.sqrt(f))
#math.ceil:returns the round up value
s=9.67
print(math.ceil(s))
#math.floor:returns the round down(integer) value
print(math.floor(s))
#math.factorial:returns the factorial of the number
u=9
print(math.factorial(u))
#math.log:returns the log of the number
print(math.log(u))
#math.log10:returns the log of the number base 10
print(math.log10(u))
#math.exp:returns the exponent value
print(math.exp(u))

25.0
10
9
362880
2.1972245773362196
0.9542425094393249
8103.083927575384

#4) In a cricket tournament, based on the outcome of a particular match a team gets following points:

#wins gets 10 points
#draws gets 1 points
#losses gets 0 points
#Team A plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team A?

In [ ]:
#actual points
win_gets=10
draw_gets=1
loose_gets=0
#now team A played 8 matches
won=4
draw=1
loose=3
#total points
total_points=(win_gets*won)+(draw_gets*draw)+(loose_gets*loose)
print("total points gained by team A:",total_points)

total points gained by team A: 41

#5) Root of a function  f(x)  is defined as the value  x  where  f(x)=0
#Consider a quadratic function  f(x)=x2+3x−4
#Find the value of the function  f(x)  at points  x=2,x=−1,x=1 .

In [ ]:
x=2
def f(val):
  return val**2 + 3*val - 4
print("Quadratic function of f(2):",f(x))
x=-1
print("Quadratic function of f(-1):",f(x))
x=1
print("Quadratic function of f(1):",f(x))

Quadratic function of f(2): 6
Quadratic function of f(-1): -6
Quadratic function of f(1): 0

#6) A bag contains 45 apples, 65 oranges and 30 bananas. Find the percentage of each type of food items in the bag.

In [ ]:
#types of fruits
apples=45
oranges=65
bananas=30

#total no.of fruits
total=140

#percentage of each fruit
print("percentage of apples:",round((apples/total)*100))
print("percentage of oranges:",round((oranges/total)*100))
print("percentage of bananas:",round((bananas/total)*100))

percentage of apples: 32
percentage of oranges: 46
percentage of bananas: 21

#7) A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
list=[48,54,16,92,63,72,95]
print("actual list:",list)
max_index=list.index(max(list))
min_index=list.index(min(list))
print("max index:",max_index)
print("min index:",min_index)
list[max_index],list[min_index]=list[min_index],list[max_index]
print("Temperatures after swapping highest and lowest:",list)

actual list: [48, 54, 16, 92, 63, 72, 95]
max index: 6
min index: 2
Temperatures after swapping highest and lowest: [48, 54, 95, 92, 63, 72, 16]

#8) Measures of Averages
#Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
#Median is the middle number in a sorted, ascending or descending, list of numbers. If the list has  N  numbers where  N  is odd, then median is the element in the middle i.e,  (N+12)th  element. If  N  is even, then median is the mean of  (N2)th  and  (N2+1)th  element

In [ ]:
import statistics
data=[2,6,4,8,5]
print("mean of data:",sum(data)/len(data))
print("meadian of data:",statistics.median(data))
list=[2,7,5,9,3,1]
print("\nmean of list:",statistics.mean(list))
print("median of list:",statistics.median(list))#1,2,3,5,6,9

mean of data: 5.0
meadian of data: 5

mean of list: 4.5
median of list: 4.0

#9) Write a Python script to check whether a given key already exists in a dictionary. If it does, drop that key from the dictionary. If it does not, add that key and corresponding value to the dictionary

#a) Check if the key 'Employee_ID' is present in the dictionary. Hint : use a boolean variable to store this value

#b) If not present add this key to this dictionary and the corresponding value to be 4503233

#c) Check if the key 'Band' is present in the dictionary

#d) If present, drop this key from the dictionary

#e)Print the updated dictionary

In [ ]:
# Initial dictionary (example)
employee_dict = {"Name": "John Doe","Department": "IT","Band": "A2"}

# a) Check if 'Employee_ID' is present
key_exists = "Employee_ID" in employee_dict   # boolean variable

if not key_exists:
# b) If not present, add key with value 4503233
    employee_dict["Employee_ID"] = 4503233

# c) Check if 'Band' is present
if "Band" in employee_dict:
# d) If present, drop this key
    employee_dict.pop("Band")

# e) Print the updated dictionary
print("Updated Dictionary:", employee_dict)

Updated Dictionary: {'Name': 'John Doe', 'Department': 'IT', 'Employee_ID': 4503233}

#10) Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting
#a)The list of tech companies curated by the individual
#tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

#b) The final list that we want

#c) correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [ ]:
# Original list
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# Flatten the nested list
correct_tech_companies = tech_companies[:3] + tech_companies[3]

print("Correct list:", correct_tech_companies)

Correct list: ['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']